# vite-plugin-wasm has not yet declared Vite 8 in its peerDependencies
legacy-peer-deps=true
# vite-plus preview build registry bridge (auto-added by vp)
registry=https://registry-bridge.viteplus.dev/
